
<div class="container" style="margin-top:50px;">
    <!-- *** ここから始めてください *** -->


<div class="row">
  <div class="col-md-6 offset-md-3">

    <%= form_with model: @post, local: true do |f| %>

    <div class="custom-file mt-3">
      <%= f.text_field :image, placeholder: "画像のURLを貼ってください", class: "form-control" %>
    </div>



    <div class="form-group mt-3">
      <%= f.text_field :title, placeholder: "タイトル", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.text_area :text, placeholder: "本文", class: "form-control" %>
    </div>
    
    <div class="form-group text-center">
      <%= f.submit "投稿する", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
<div style="margin-top:200px;"></div>


  